@font-face {
  font-family: "ar-gr";
  src: url("/fonts/ar-gr-regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: "ar-gr";
  src: url("/fonts/ar-gr-bold.woff2");
  font-style: normal;
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: "founders-mono";
  src: url("/fonts/BallingerMonoTEST-Regular.woff");
  font-style: normal;
  font-weight: 600;
  font-display: auto;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
